# Auto detect text files and perform LF normalization
* text=auto
*.rda   binary
*.jar   binary
*.png   binary
*.svg   binary
# inst/igo-ipadic/*
*.category	binary
*.dat	binary
*.inf	binary
*.bin	binary
*.idx	binary
code2category	binary
word2id	binary
